@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(208.53deg, #36069a 1.77%, #3c2168 101.57%, #4704b5 101.57%);
}
.container .bg {
  position: absolute;
  top: -15%;
  left: 0;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  mix-blend-mode: color-dodge;
}
.container .logoMain {
  z-index: 1;
  padding-top: 10%;
  -o-object-position: center;
     object-position: center;
}
.container .nextBtn {
  left: 40%;
  top: 50%;
}
.container .tutorial1 {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.container .tutorial1 .texto {
  margin-top: -10%;
  margin-left: 5%;
  padding: 810px 70px;
  width: 45%;
}
.container .tutorial1 .grid {
  mix-blend-mode: color-dodge;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px 0px;
}
.container .tutorial1 .frame {
  width: 100% !important;
  height: auto;
  z-index: 2;
  margin-left: -80%;
  overflow: hidden;
}
.container .tutorial1 .frame .animation1 {
  width: 120%;
  margin-left: 0;
}
.container .tutorial1 .frame .animation2 {
  width: 100%;
  margin-left: 0;
}
.container .tutorial1 .frame .animation3 {
  width: 100%;
  margin-left: 0;
}
.container .tutorial1 .marginFrame {
  margin-left: -100% !important;
}
.container .sign1 {
  position: absolute;
  z-index: 6;
  bottom: 30%;
  left: 30%;
  width: 30%;
}

.case6 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case6 .message {
  margin-top: 10%;
  width: 40%;
  transition: all 500ms ease-in-out;
}
.case6 .continuarTutorial1 {
  position: initial;
  margin-top: 4%;
  width: 30%;
}

.case7 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case7 .message {
  width: 60%;
  margin-top: 4%;
}
.case7 iframe {
  height: 50vh;
  width: 800%;
}
.case7 .continuarTutorial1 {
  position: initial;
  margin-top: 4%;
  width: 30%;
}

.case8 .frame {
  margin-top: 15%;
}
.case8 .texto {
  margin-top: 0 !important;
}
.case8 .textVideo {
  width: 35% !important;
  margin-left: 10% !important;
}

.videonext {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 40%;
  z-index: 6;
}

.case9 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case9 .message {
  width: 60%;
  margin-top: 2%;
}
.case9 iframe {
  height: 50vh;
  width: 800%;
}
.case9 .continuarTutorial1 {
  position: initial;
  margin-top: 2%;
  width: 30%;
}

.case11 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case11 .tutTest {
  margin-top: 3% !important;
}
.case11 .message {
  margin-top: 10%;
  width: 40%;
  transition: all 500ms ease-in-out;
}
.case11 .continuarTutorial1 {
  position: initial;
  margin-top: -17%;
  width: 17%;
}

.case12 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case12 .message {
  margin-top: 5%;
  width: 40%;
  transition: all 500ms ease-in-out;
}
.case12 .swipe {
  position: initial;
  margin-top: -21.5%;
  width: 17%;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 79px;
  text-align: center;
  /* White Text */
  color: #eef1fa;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #020321;
  mix-blend-mode: hard-light;
  opacity: 0;
  transition: all 500ms ease-out;
  z-index: 5;
}

.anatomyBtn {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 5%;
  flex-direction: row;
  z-index: 1;
}
.anatomyBtn .tutorialBtn {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 47px;
  border: none;
  color: #ffffff;
  background: #8912ff;
  border-radius: 10px;
  padding: 3px 10px;
  width: 50%;
  height: 100%;
  margin: 0px 10px;
}
.anatomyBtn .mainBtn {
  height: 100%;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 47px;
  margin: 0 10px;
  width: 50%;
  border: none;
  color: #4704b5;
  z-index: 1;
  border: none;
  background: #cabbeb;
  border-radius: 10px;
  padding: 3px 10px;
}

.menuAnatomy {
  width: 14% !important;
  left: 42.8%;
  top: 63.5%;
}
.menuAnatomy .menu {
  border-radius: 35px;
  border: 2px solid white !important;
  background-color: #0910ad !important;
  font-weight: bold;
  padding: 2px !important;
  font-size: 15px !important;
}

.continuarTutorial1 {
  position: absolute;
  left: 13.5%;
  top: 72%;
  width: 20%;
  background: #8912ff;
  border-radius: 13px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  padding: 10px 13px;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  background-color: transparent;
  z-index: 10000;
  border: 2px solid transparent;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

.cursorMini {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  left: -100px;
  top: 50%;
  background-color: #5642ce;
  z-index: 10000;
  border: 2px solid white;
  height: 15px;
  width: 15px;
  transition: all 300ms ease-out;
}

.video-player {
  position: absolute;
  left: 49.5%;
  top: 19%;
  width: 28.4%;
  height: auto;
  overflow: hidden;
}

.video-player video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Oculta los controles de reproducción del video */
.video-player video::-webkit-media-controls {
  display: none !important;
}

.video-player video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-player video::-webkit-media-controls-panel {
  display: none !important;
}/*# sourceMappingURL=style.css.map */