@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(208.53deg, #36069a 1.77%, #3c2168 101.57%, #4704b5 101.57%);
}
.container .bg {
  position: absolute;
  top: -15%;
  left: 0;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  mix-blend-mode: color-dodge;
}
.container .logoMain {
  z-index: 1;
  padding-top: 10%;
  -o-object-position: center;
     object-position: center;
}
.container .nextBtn {
  left: 40%;
  top: 50%;
}
.container .tutorial1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  transition: opacity 0.5s ease-in-out;
}
.container .tutorial1 .addLeap {
  margin-top: -2%;
  margin-right: -160%;
  opacity: 0.16;
  mix-blend-mode: hard-light;
  margin-left: 25%;
  z-index: 5;
  font-size: 220px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  color: #c2c8dd;
  transform: rotate(-90deg);
}
.container .tutorial1 .addLeapBG {
  position: absolute;
  left: 56.5%;
  top: 41.4%;
  z-index: 2;
  font-size: 220px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  color: #c2c8dd;
  transform: rotate(-90deg);
}
.container .tutorial1 .getOutBtn {
  margin-top: 42%;
  margin-right: -160%;
  margin-left: 18%;
  width: 15%;
  height: 5%;
}
.container .tutorial1 .texto {
  margin-top: -10%;
  margin-left: 7%;
  padding: 810px 70px;
  width: 45%;
}
.container .tutorial1 .grid {
  mix-blend-mode: color-dodge;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px 0px;
}
.container .tutorial1 .continuarBtn {
  position: absolute;
  left: 16%;
  top: 57%;
  width: 15%;
}
.container .tutorial1 .timeline {
  position: absolute;
  left: 16%;
  top: 63%;
  width: 25%;
}
.container .tutorial1 .frame {
  height: 100%;
  margin-top: 45%;
  margin-left: 13%;
  z-index: 2;
  overflow: hidden;
}
.container .tutorial1 .frame img {
  height: 30%;
  width: 100%;
}
.container .tutorial1 .frame .animation1 {
  width: 120%;
  margin-left: 0;
}
.container .tutorial1 .frame .animation2 {
  width: 100%;
  margin-left: 0;
}
.container .tutorial1 .frame .animation3 {
  width: 100%;
  margin-left: 0;
}
.container .tutorial1 .marginFrame {
  margin-left: -100% !important;
}
.container .tutorial3 {
  flex-direction: column;
  height: 91vh;
}
.container .tutorial3 .getOutBtn {
  margin-top: 2%;
  margin-right: 0%;
  margin-left: 7%;
  width: 15%;
  height: auto;
}
.container .tutorial3 .texto {
  margin-top: -4%;
  margin-left: 21%;
  padding: 0;
  width: 61%;
}
.container .tutorial3 .frame {
  width: 50%;
  margin-top: -14%;
  margin-left: 25%;
  z-index: 2;
}
.container .tutorial3 .frame img {
  height: auto;
  width: 100%;
}
.container .tutorial3 .timeline {
  top: 85%;
}
.container .tutorial3 .continuarBtn {
  opacity: 1;
  left: 52%;
  top: 17%;
}
.container .tutorial4 .texto {
  margin-top: -8%;
  margin-left: 34%;
  padding: 0;
  width: 56%;
}
.container .tutorial5 {
  height: 91vh;
  width: 100%;
}
.container .tutorial5 .btnText {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .tutorial5 .btnText .getOutBtn {
  margin-top: 5%;
  margin-right: 0%;
  margin-left: 11%;
  width: 34%;
  height: auto;
}
.container .tutorial5 .btnText .texto {
  margin-top: 14%;
  margin-left: 35%;
  padding: 0;
  width: 58%;
}
.container .tutorial5 .leapCase {
  width: 45%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2%;
  margin-left: -2%;
}
.container .tutorial5 .continuarBtn {
  left: 17%;
  top: 61%;
}
.container .tutorial5 .timeline {
  left: 17%;
  top: 82%;
}
.container .tutorial7 {
  position: relative;
}
.container .tutorial7 .yellowsign {
  position: absolute;
  width: 20%;
  top: 2%;
  right: 6%;
}
.container .tutorial7 .texto {
  margin-top: 2%;
  margin-left: 24%;
  padding: 0;
  width: 45%;
}
.container .tutorial7 .continuarBtn {
  opacity: 1;
  left: 43%;
  top: 67%;
}
.container .tutorial8 {
  height: 91vh;
  width: 100%;
}
.container .tutorial8 .btnText {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container .tutorial8 .btnText .getOutBtn {
  margin-top: 5%;
  margin-right: 0%;
  margin-left: 11%;
  width: 34%;
  height: auto;
}
.container .tutorial8 .btnText .texto {
  margin-top: -3%;
  margin-left: 35%;
  padding: 0;
  width: 54%;
}
.container .tutorial8 .leapCase {
  width: 32%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2%;
  margin-left: 7%;
}
.container .tutorial8 .continuarBtn {
  left: 17%;
  top: 68%;
}
.container .tutorial8 .timeline {
  left: 17%;
  top: 82%;
}
.container .tutorial9 .texto {
  margin-top: 14%;
  margin-left: 29%;
}
.container .tutorial9 .dot {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
}
.container .tutorial9 .dot1 {
  top: 20%;
  left: 15%;
}
.container .tutorial9 .dot2 {
  top: 75%;
  left: 15%;
}
.container .tutorial9 .dot3 {
  top: 35%;
}
.container .tutorial9 .dot4 {
  top: 75%;
  left: 80%;
}
.container .tutorial10 .texto {
  margin-top: 14%;
  margin-left: 29%;
}
.container .cursorAnimation {
  position: absolute;
  top: 32%;
  left: 83%;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 800ms ease-in-out;
  height: -moz-fit-content;
  height: fit-content;
}
.container .continuarBtn {
  position: absolute;
  left: 16%;
  top: 57%;
  width: 15%;
}
.container .yellowBtn {
  margin-top: -22%;
  margin-right: -160%;
  margin-left: 18%;
  z-index: 8;
  width: 15%;
  height: 5%;
}
.container .sign1 {
  position: absolute;
  z-index: 6;
  bottom: 30%;
  left: 30%;
  width: 30%;
}
.container .tutorial11 .texto {
  margin-top: -1%;
  margin-left: 33%;
  padding: 0;
  width: 35%;
}
.container .tutorial13 .texto {
  margin-top: 7%;
  margin-left: 28%;
}
.container .tutorial14 .texto {
  margin-left: 34% !important;
  width: 46% !important;
}
.container .tutorial14 .leapCase {
  width: 48%;
  margin-top: 2%;
  margin-left: -4%;
  z-index: 3;
}
.container .tutorial14 .hand {
  position: absolute;
  top: 44%;
  left: 72%;
  width: 17%;
  height: -moz-fit-content;
  height: fit-content;
  transform: rotate(30deg);
  z-index: 5;
  transition: all 1000ms ease-in-out;
}
.container .tutorial14 .swipeOverflow {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 26%;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 17%;
  left: 60%;
  z-index: 2;
}
.container .tutorial14 .swipeOverflow .swipeA {
  width: 100%;
  margin-right: 20px;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 800ms ease-in-out;
}
.container .tutorial14 .swipeOverflow .swipeB {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.case6 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case6 .message {
  margin-top: 10%;
  width: 40%;
  transition: all 500ms ease-in-out;
}
.case6 .continuarTutorial1 {
  position: initial;
  margin-top: 4%;
  width: 30%;
}

.case7 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case7 .message {
  width: 60%;
  margin-top: 4%;
}
.case7 iframe {
  height: 50vh;
  width: 800%;
}
.case7 .continuarTutorial1 {
  position: initial;
  margin-top: 4%;
  width: 30%;
}

.case8 .frame {
  margin-top: 15%;
}
.case8 .texto {
  margin-top: 0 !important;
}
.case8 .textVideo {
  width: 35% !important;
  margin-left: 10% !important;
}

.videonext {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 40%;
  z-index: 6;
}

.case9 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case9 .message {
  width: 60%;
  margin-top: 2%;
}
.case9 iframe {
  height: 50vh;
  width: 800%;
}
.case9 .continuarTutorial1 {
  position: initial;
  margin-top: 2%;
  width: 30%;
}

.case11 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case11 .tutTest {
  margin-top: 3% !important;
}
.case11 .message {
  margin-top: 10%;
  width: 40%;
  transition: all 500ms ease-in-out;
}
.case11 .continuarTutorial1 {
  position: initial;
  margin-top: -17%;
  width: 17%;
}

.case12 {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case12 .message {
  margin-top: 5%;
  width: 40%;
  transition: all 500ms ease-in-out;
}
.case12 .swipe {
  position: initial;
  margin-top: -21.5%;
  width: 17%;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 79px;
  text-align: center;
  /* White Text */
  color: #eef1fa;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 150vh;
  top: 30%;
  left: 0;
  background: #181e2f;
  mix-blend-mode: hard-light;
  opacity: 0;
  transition: all 500ms ease-out;
  z-index: 5;
}

.anatomyBtn {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 5%;
  flex-direction: row;
  z-index: 1;
}
.anatomyBtn .tutorialBtn {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 47px;
  border: none;
  color: #ffffff;
  background: #8912ff;
  border-radius: 10px;
  padding: 3px 10px;
  width: 50%;
  height: 100%;
  margin: 0px 10px;
}
.anatomyBtn .mainBtn {
  height: 100%;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 47px;
  margin: 0 10px;
  width: 50%;
  border: none;
  color: #4704b5;
  z-index: 1;
  border: none;
  background: #cabbeb;
  border-radius: 10px;
  padding: 3px 10px;
}

.menuAnatomy {
  width: 14% !important;
  left: 42.8%;
  top: 63.5%;
}
.menuAnatomy .menu {
  border-radius: 35px;
  border: 2px solid white !important;
  background-color: #0910ad !important;
  font-weight: bold;
  padding: 2px !important;
  font-size: 15px !important;
}

.continuarTutorial1 {
  position: absolute;
  left: 13.5%;
  top: 72%;
  width: 20%;
  background: #8912ff;
  border-radius: 13px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  padding: 10px 13px;
}

.video-player {
  position: absolute;
  left: 49.5%;
  top: 19%;
  width: 28.4%;
  height: auto;
  overflow: hidden;
}

.video-player video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Oculta los controles de reproducción del video */
.video-player video::-webkit-media-controls {
  display: none !important;
}

.video-player video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-player video::-webkit-media-controls-panel {
  display: none !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  position: absolute;
  top: 37%;
  right: 18.3%;
  width: 80px;
  height: 80px;
  display: none;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 8px;
  transition: opacity 1000ms ease-in-out;
  opacity: 0;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  border-color: #fff transparent transparent transparent;
}

.ldsanimation div {
  animation: ldsanimation 6s cubic-bezier(0.5, 0, 0.5, 1);
}

.ldsanimation div:nth-child(1) {
  animation-delay: -1.4s;
}

.ldsanimation div:nth-child(2) {
  animation-delay: -1.2s;
}

.ldsanimation div:nth-child(3) {
  animation-delay: -1s;
}

.ldsanimation div:nth-child(4) {
  animation-delay: -0.8s;
}

.ldsanimation div:nth-child(5) {
  animation-delay: -0.6s;
}

.ldsanimation div:nth-child(6) {
  animation-delay: -0.4s;
}

.ldsanimation div:nth-child(7) {
  animation-delay: -0.2s;
}

@keyframes ldsanimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-ringGlobal {
  display: inline-block;
  position: relative;
  position: absolute;
  top: 37%;
  left: 45%;
  width: 80px;
  height: 80px;
  display: none;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.lds-ringGlobal div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 8px;
  transition: opacity 1000ms ease-in-out;
  opacity: 0;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  border-color: #fff transparent transparent transparent;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  left: -100px;
  top: 50%;
  background-color: #5642ce;
  z-index: 10000;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

.loader {
  width: 55px;
  height: 55px;
  border: 8px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: all 500ms ease-out;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: white;
    border-bottom-color: transparent;
  }
  25% {
    transform: rotate(90deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: transparent;
  }
  50% {
    transform: rotate(270deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: transparent;
  }
  100% {
    transform: rotate(270deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: white;
  }
}/*# sourceMappingURL=style.css.map */