@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

button {
  border-radius: 8px;
  background: #00c7af;
  padding: 0.8em 1.8em;

  color: #fff;
  border: none;
  text-align: center;
  font-family: Urbanist;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  left: -100px;
  top: 50%;
  background-color: #5642ce;

  z-index: 10000;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

.loader {
  width: 55px;
  height: 55px;
  border: 8px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: all 500ms ease-out;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: white;
    border-bottom-color: transparent;
  }
  25% {
    transform: rotate(90deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: transparent;
  }
  50% {
    transform: rotate(270deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: transparent;
  }
  100% {
    transform: rotate(270deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: white;
  }
}
.content {
  font-family: "urbanist", sans-serif;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  padding: 0 20%;
  justify-content: space-between;
  .intro-image {
    width: 45%;
  }
  .intro-description {
    color: #29292a;
    width: 50%;
    display: flex;
    height: 45%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    h2 {
      span {
        color: #00c7af;
      }
      font-size: 2.7em;
    }
  }

  .tutorial1 {
    color: #fff;
  }

  .gestures {
    display: flex;
    width: 70%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    .swipe-btn {
      margin-top: -4%;
      display: flex;
      flex-direction: column;

      img {
        z-index: 5;
        width: 50%;
        margin-left: 45%;
        transition: all 1000ms ease-in-out;
      }
      button {
        margin-top: 50px;
      }
    }

    .pointer-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 42%;
      }
      button {
        width: 100%;
      }
    }
  }
}

.select-gestures {
  flex-direction: column;
  padding: 0;
  .intro-description {
    width: 80%;
    text-align: center;
  }
}

.dummie-dev-content {
  width: 100%;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  .dummie-dev {
    width: 50%;

    .intro-description {
      margin: 0;
      width: 100%;
      justify-content: space-between;
      height: 95vh;
      text-align: center;
    }
  }
  .blocks {
    width: 40%;
    border-radius: 15px;
    padding: 2%;
    text-align: center;
    background-color: #fff;
    color: #00c7af;
    height: 95vh;
    button {
      font-size: 1.2em;
      margin-top: 20px;
      width: 100%;
    }
    #introBtn {
      margin-top: 30px;
    }
  }
}

.onboarding1 {
  padding: 0 10%;
  .intro-image {
    width: 100%;
  }
  .info-description {
    display: flex;
    height: 70vh;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    h1,
    h2,
    h3 {
      color: #00c7af;
    }
    .data-info {
      h2,
      h3 {
        margin-bottom: 2%;
      }
      p {
        font-weight: 500;
        font-size: 1.2em;
        width: 80%;
        margin-bottom: 2%;
      }
      div {
        p {
          color: #00c7af;
          font-weight: 600;
        }
      }
    }
  }

  .onboardingImg {
    display: flex;
    width: 45%;
    flex-direction: column;
  }
}

.equationContent {
  display: flex;
  flex-direction: column;
  padding: 10% 0;

  h2 {
    font-size: 2em;
  }
  span {
    color: #00c7af;
  }
  .equation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    p {
      font-size: 6em;
    }

    h1 {
      font-size: 3em;
      color: #00c7af;
    }
  }

  /* The Modal (background) */
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2%;
    border-radius: 20px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    h3 {
      color: #00c7af;
      font-size: 1.5em;
      width: 70%;
      margin-bottom: 5%;
      text-align: center;
    }
  }
}

//loader
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #00c7af;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tutorial1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  transition: opacity 0.5s ease-in-out;

  .addLeap {
    margin-top: -2%;
    margin-right: -160%;
    opacity: 0.16;
    mix-blend-mode: hard-light;
    margin-left: 25%;
    z-index: 5;
    font-size: 220px;
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 700;
    color: #c2c8dd;

    transform: rotate(-90deg);
  }

  .addLeapBG {
    position: absolute;
    left: 56.5%;
    top: 41.4%;
    z-index: 2;
    font-size: 220px;
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 700;
    color: #c2c8dd;

    transform: rotate(-90deg);
  }
  .getOutBtn {
    margin-top: 42%;
    margin-right: -160%;
    margin-left: 18%;
    width: 15%;
    height: 5%;
  }

  .texto {
    margin-top: -10%;
    margin-left: 7%;
    padding: 810px 70px;
    width: 45%;
  }
  .grid {
    mix-blend-mode: color-dodge;
    width: 100%;
    object-fit: contain;
    padding: 10px 0px;
  }

  .continuarBtn {
    position: absolute;
    left: 16%;
    top: 57%;
    width: 15%;
  }
  .timeline {
    position: absolute;
    left: 16%;
    top: 63%;
    width: 25%;
  }
  .frame {
    height: 100%;
    margin-top: 45%;
    margin-left: 13%;
    z-index: 2;
    overflow: hidden;

    img {
      height: 30%;
      width: 100%;
    }

    .animation1 {
      width: 120%;
      margin-left: 0;
    }

    .animation2 {
      width: 100%;
      margin-left: 0;
    }
    .animation3 {
      width: 100%;
      margin-left: 0;
    }
  }
  .marginFrame {
    margin-left: -100% !important;
  }
}

.tutorial3 {
  flex-direction: column;
  height: 91vh;
  .getOutBtn {
    margin-top: 2%;
    margin-right: 0%;
    margin-left: 7%;
    width: 15%;
    height: auto;
  }
  .texto {
    margin-top: -4%;
    margin-left: 21%;
    padding: 0;
    width: 61%;
  }
  .frame {
    width: 50%;
    margin-top: -14%;
    margin-left: 25%;
    z-index: 2;
    img {
      height: auto;
      width: 100%;
    }
  }
  .timeline {
    top: 85%;
  }
  .continuarBtn {
    opacity: 1;
    left: 52%;
    top: 17%;
  }
}
.tutorial4 {
  .texto {
    margin-top: -8%;
    margin-left: 34%;
    padding: 0;
    width: 56%;
  }
}
.tutorial7 {
  position: relative;
  .yellowsign {
    position: absolute;
    width: 20%;
    top: 2%;
    right: 6%;
  }
  .texto {
    margin-top: 2%;
    margin-left: 24%;
    padding: 0;
    width: 45%;
  }
  .continuarBtn {
    opacity: 1;
    left: 43%;
    top: 67%;
  }
}

.tutorial9 {
  .texto {
    margin-top: 14%;
    margin-left: 29%;
  }
  .dot {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
  }
  .dot1 {
    top: 20%;
    left: 15%;
  }
  .dot2 {
    top: 75%;
    left: 15%;
  }
  .dot3 {
    top: 35%;
  }
  .dot4 {
    top: 75%;
    left: 80%;
  }
}
.tutorial15 {
  margin-top: 5%;
  .texto {
    margin-top: -2%;
    margin-left: 29%;
    width: 43%;
  }
  .continuarBtn {
    left: 43%;
    top: 78%;
  }
  .swipeOverflow {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 26%;
    height: fit-content;
    position: absolute;
    top: 42%;
    left: 37.7%;
    z-index: 2;
    .swipe {
      width: 100%;
      margin-right: 20px;
      height: fit-content;
      transition: all 800ms ease-in-out;
    }
    .swipe1 {
      margin-left: -375px;
    }
  }
  .arrows {
    display: flex;
    width: 10%;
    height: fit-content;
    flex-direction: row;
    position: absolute;
    top: 68%;
    left: 46%;
    .arrowR {
      transform: rotateY(180deg);
      width: 50%;
      height: fit-content;
    }
    .arrowL {
      width: 50%;
      height: fit-content;
    }
  }
}
.container {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    208.53deg,
    #36069a 1.77%,
    #3c2168 101.57%,
    #4704b5 101.57%
  );
  padding: 0;
}

.finish {
  padding: 5% 0;
  flex-direction: column;
  align-items: start;
  #introBtn {
    margin-top: 50px;
  }
  span {
    color: #00c7af;
  }
  h2 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #00c7af;
  }
  .steps {
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    display: flex;
  }
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    h3 {
      font-size: 1.5em;
      text-align: left;
      margin-bottom: 5%;
    }
    img {
      border-radius: 20px;
      width: 80%;
    }
  }

  .swipeStep{
    font-size: 2em;
    margin-top: 50px;
  }
}
