@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  background-color: #F3F3F3;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.container .menu {
  margin-top: 1.5%;
  margin-left: 1.5%;
  height: 95%;
}
.container .options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 82%;
  width: 13%;
  margin-left: 2%;
  margin-top: -47%;
}
.container .options .mainOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38%;
}
.container .options .tutorial {
  width: 100%;
}
.container .content {
  width: 77%;
  margin-top: -52.8%;
  margin-left: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .content .banner {
  width: 74%;
}
.container .content .bottomContent {
  display: flex;
  flex-direction: column;
  width: 73%;
  margin-left: -1%;
  justify-content: space-between;
  margin-top: 2%;
}
.container .content .bottomContent .title {
  width: 40%;
  margin: 10px 0;
}
.container .content .bottomContent .guides {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.container .content .bottomContent .guides .corazon {
  width: 32%;
  margin-left: -1%;
}
.container .content .bottomContent .guides .ojo {
  margin-top: 1%;
  width: 31%;
  margin-left: -1%;
}
.container .content .bottomContent .guides .pulmon {
  margin-top: -1%;
  width: 31%;
}
.container .content .bottomContent .guides img {
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
}
.container .overlay {
  width: 100%;
  height: 100vh;
  background-color: #181E2F;
  opacity: 0.94;
  position: absolute;
  top: 0;
  left: 0;
}
.container .overlay .sign {
  position: absolute;
  right: 0;
  top: 0;
}
.container .overlay .texto {
  position: absolute;
  right: 23%;
  top: 23%;
}
.container .overlay .continuarBtn {
  position: absolute;
  right: 29%;
  top: 48%;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  left: -100px;
  top: 50%;
  background-color: #5642ce;
  z-index: 10000;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  transition: all 300ms ease-out;
}

.loader {
  width: 55px;
  height: 55px;
  border: 8px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: all 500ms ease-out;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: white;
    border-bottom-color: transparent;
  }
  25% {
    transform: rotate(90deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: transparent;
  }
  50% {
    transform: rotate(270deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: transparent;
  }
  100% {
    transform: rotate(270deg);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: white;
  }
}/*# sourceMappingURL=style.css.map */